.app h1 {
    margin: 10px 0px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(76, 69, 69);
    cursor: pointer;
    color: white;
}

.board {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}